.personality-type--output-section .personality-type--bar {
    width: 70%;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 2em 0;
    gap: 0.2em;
    min-width: 350px;
}

.personality-type--output-section .personality-type--bar * {
    flex: 1 1 auto;
    position: relative;
    color: #6f828c;
    padding-block: 0.3em;
    background-color: #6f828c5e;
}

.personality-type--output-section .personality-type--bar *::before {
    position: absolute;
    width: 100%;
    left: 0;
    top: -1.5em;
}

.personality-type--output-section .personality-type--bar *::after {
    position: absolute;
    font-size: 2em;
    font-weight: bold;
    bottom: -1em;
}

.personality-type--output-section .personality-type--bar *[data-pointed="true"] {
    background-color: var(--site-red);
    color: white;
}

.personality-type--output-section .personality-type--bar *[data-pointed="true"]::before {
    color: var(--site-red);
}

.personality-type--output-section .personality-type--bar *[data-pointed="true"]::after {
    content: "";
    left: var(--percent-deviation);
    animation: moveUpDown 1s ease-in-out infinite;
    width: 1em;
    height: 1em;
    background-image: url(../infographics/interactive-names/pointer.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(0.2em);
    }
}

.personality-type--output-section .personality-type--bar .bar-extrovert {
    flex-basis: 15%;
}

.personality-type--output-section .personality-type--bar .bar-extrovert::before {
    content: "Extrovert";
}

.personality-type--output-section .personality-type--bar .bar-ambivert {
    flex-basis: 77%;
}

.personality-type--output-section .personality-type--bar .bar-ambivert::before {
    content: "Ambivert";
}

.personality-type--output-section .personality-type--bar .bar-introvert {
    flex-basis: 8%;
}

.personality-type--output-section .personality-type--bar .bar-introvert::before {
    content: "Introvert";
}
